@import "tailwindcss";


@theme {
    --color-background: var(--color-zinc-50);
    --color-border-default: var(--color-slate-200);
    --color-primary: var(--color-blue-500);
    --color-primary-foreground: var(--color-white);
    --color-primary-hover: var(--color-blue-600);
    --color-secondary-hover: var(--color-zinc-100)
}